---
layout: grid
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Grid View</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      max-width: 600px;
      padding: 10px;
    }

    .grid-item {
      width: 157px;
      height: 157px;
      cursor: pointer;
      > a >img {
        width: 157px;
        height: 157px;
      }
    }
  </style>
</head>

<body style="background-color: #fcf5e6; padding-top: 100px;">
  <div class="grid-container" >
    <div class="grid-item">
      <a href="https://www.linkedin.com/in/%EC%8B%9C%EC%97%B0-%EC%98%A4-522b0622b/" target="_blank">
        <img src="../assets/imgs/오시연.png" alt="시연">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://hyun-git.github.io/" target="_blank">
        <img src="../assets/imgs/이형광.png" alt="형광">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://www.behance.net/yoonhye" target="_blank">
        <img src="../assets/imgs/김윤혜.png" alt="윤혜">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/seohyun0120" target="_blank">
        <img src="../assets/imgs/윤서현.png" alt="서현">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/LouiMinister" target="_blank">
        <img src="../assets/imgs/이동재.png" alt="동재">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/ddyeon" target="_blank">
        <img src="../assets/imgs/백다연.png" alt="다연">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/014967" target="_blank">
        <img src="../assets/imgs/김현국.png" alt="현국">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/hj1115hj" target="_blank">
        <img src="../assets/imgs/주혜진.png" alt="혜진">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/gunoooo" target="_blank">
        <img src="../assets/imgs/박건우.png" alt="건우">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/julia0926" target="_blank">
        <img src="../assets/imgs/김지인.png" alt="지인">
      </a>
    </div>
    <div class="grid-item">
      <a href="https://github.com/kimkyunghun3" target="_blank">
        <img src="../assets/imgs/김경훈.png" alt="경훈">
      </a>
    </div>
  </div>
</body>

</html>
